# **Glass Type Classification Using PyCaret**

In this project, we are going to classify the type of a glass based on the elements used in the glass.
The chemical elements are as follow:
* RI - Iridium
* NA - Sodium
* Mg - Magnesium
* Al - Aluminium
* Si - Silicon
* K - Potassium
* Ca - Calcium
* Ba - Barium
* Fe - Iron

In [5]:
!pip install pycaret --quiet

In [14]:
# Importing all dependencies
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [15]:
df = pd.read_csv("data.csv")
df.head()

,Unnamed: 0.1,Unnamed: 0,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,0,2732,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,'vehic wind float'
1,1,2607,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,headlamps
2,2,1653,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,'build wind float'
3,3,3264,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,'build wind non-float'
4,4,4931,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,'build wind non-float'

In [16]:
df.drop(["Unnamed: 0.1","Unnamed: 0"], axis=1, inplace=True)
df.columns

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')

In [17]:
X = df.drop(["Type"], axis=1)
y = df["Type"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=6)

In [18]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
y_pred = knn.predict(X_test)
acc = accuracy_score(y_test, y_pred)
acc